[submodule "Kronos/Vendor/imgui"]
	path = Kronos/Vendor/imgui
	url = https://github.com/ocornut/imgui
    branch = docking
[submodule "Kronos/Vendor/glfw"]
	path = Kronos/Vendor/glfw
	url = https://github.com/glfw/glfw
