[submodule "Kronos/Vendor/imgui"]
	path = Kronos/Vendor/imgui
	url = https://github.com/ocornut/imgui
    	branch = docking
[submodule "Kronos/Vendor/glfw"]
	path = Kronos/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Kronos/Vendor/spdlog"]
	path = Kronos/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RnD/Test01/Kronos/Vendor/glm"]
	path = RnD/Test01/Kronos/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "RnD/Test01/Kronos/Vendor/vma"]
	path = RnD/Test01/Kronos/Vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
